nav {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    }
.logo{
    width: 180px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
.container{
    padding-left:10% ;
    padding-right: 10%;
}
.btn{
    background-color: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background-color 500ms ease,
                padding 500ms ease;
}
.btn:hover{
    background-color:#f7e1c7;
    padding: 14px 30px;
}
.links{
    transition: border-bottom 500ms ease,
                transform 500ms ease;
}
.links:hover{
    border-bottom: 1px solid ;
    transform: translateY(-2px);
}
.dark-nav{
    background: #081591;
    transition: 0.5s ease;
}
.menu-icon{
    display: none;
}

@media(max-width:1000px){
    .logo{
        width:120px;
    }
    nav ul li{
        margin: 10px 10px;
        padding: 5px 10px;
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
}
@media(max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: -200px;
        background-color: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top:70px;
        transition: 0.5s;
        bottom: 0;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
        font-size: 14px;
    }
    .btn{
        display: block;
        width: auto;
        min-width: 130px;
        white-space: nowrap;
        font-size: 14px;
        padding: 14px 27px;
    }
    .btn:hover{
        padding: 14px 28px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .mobile-menu{
        right:0;
    }
    
}